@import url("bootstrap.min.css");


img{
    display: block;
    width: 100%;
}
.select{
    background-position: center;
    height: 600px;
    text-align: start;
    position: relative;
    border-radius: 50px;
    transition: all 0.8s ease-in-out;
    cursor: pointer;
}
.card-1{
    background-image: url(img/photo-1507525428034-b723cf961d3e.avif);
}
.card-2{
    background-image: url(img/photo-1549880338-65ddcdfd017b.avif);
}
.card-3{
    background-image: url(img/photo-1551009175-8a68da93d5f9.avif);
}
.card-4{
    background-image: url(img/photo-1558979158-65a1eaa08691.avif);
}
.card-5{
    background-image: url(img/photo-1572276596237-5db2c3e16c5d.avif);
}

.size-n{
    width: 5%;
}
.size-s{
    width: 75%;
}
.img-text{
    opacity: 0;
    position: absolute;
    bottom: 5px;
    left: 25px;
    color: white;
    transition: all 0.4s ease;
    cursor: pointer;
}