body {
    font-family: Arial, sans-serif;
    direction: ltr;
    margin: 0;
}

.div-bar {
    width: 100%;
}
.nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 5px 0;
    background-color: rgb(237, 236, 236);
}
.nav select {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px 0;
    width: 100%;
    position: sticky;
    top: 0;
}

.search-bar input {
    padding: 5px;
    width: 300px;
    border: 1px solid #ccc;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #ff9900;
    border: none;
    color: white;
    cursor: pointer;
}

.logo img {
    width: 90px;
    height: auto;
}
.img_flash{
    width: 100%;
}
.logo2{
    width: 10px;
}
.links_div a{
    display: flex inline;
    justify-content: space-evenly;
    padding-left: 50px;
}
