.bg-footer{
    background-color: #D9D9D9;
}
.task-content{
    border-radius: 3px;
    transition: all 0.5s ease-in ;
    padding: 3px;
    cursor: pointer;
    height: 100%;
}
.task-content img{
    vertical-align: middle;
    width: 70%;
    border-radius: 30px;
}
.border-2{
    border-radius: 3px;

}
.task-content:hover{
    transform: scale(1.02);
}